[submodule "external/SciPP"]
	path = external/SciPP
	url = https://github.com/Reiex/SciPP.git
	branch = master
[submodule "external/Ruc"]
	path = external/Ruc
	url = https://github.com/Reiex/Ruc.git
	branch = master
[submodule "external/Diskon"]
	path = external/Diskon
	url = https://github.com/Reiex/Diskon.git
	branch = master
[submodule "external/DejaVu"]
	path = external/DejaVu
	url = https://github.com/Reiex/DejaVu.git
	branch = master
[submodule "external/SplayLibrary"]
	path = external/SplayLibrary
	url = https://github.com/Reiex/SplayLibrary.git
	branch = master
